version: 2.1
orbs:
  newman: postman/newman@0.0.2
jobs:
  build:
    executor: newman/postman-newman-docker
    steps:
      - checkout
      - newman/newman-run:
          collection: ./Users.postman_collection.json

jobs:       
  unitTests:
    docker:
      - image: cimg/openjdk:17.0.0
    steps:
      - checkout
      - run: ./ResetTests.java

workflows:
  example-workflow:
    jobs:
      - build
      - unitTests